* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

nav {
  background-color: #793300;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 11111;
  box-shadow: 0px 2px 10px 0px rgb(39, 39, 39);
}

.logo {
  display: flex;
  align-items: center;
  width: 30%;
}
.logo img {
  width: 45px;
  margin: 0 10px;
  background: url(<path-to-image>), cover no-repeat;
  border-radius: 50px;
}
.logo h2 {
  color: white;
}

.menu {
  width: 400px;
  display: flex;
}
.menu ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.menu ul li {
  padding: 16px 0;
}
.menu ul li a {
  color: white;
  text-decoration: none;
  padding: 16px 20px;
  transition: 0.5s;
}
.menu ul li a:hover {
  background-color: rgba(0, 0, 0, 0.267);
  background-size: auto;
  opacity: 1;
}

@media (max-width: 768px) {
  .logo img {
    width: 30px;
  }
  .logo h2 {
    font-size: 15px;
  }
  .menu ul li a {
    font-size: 12px;
    padding: 16px 10px;
  }
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.fixed-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/image/change.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.container {
  background: linear-gradient(to top right, rgba(20, 20, 20, 0.814), rgba(21, 21, 21, 0.75));
  width: 100%;
  position: absolute;
  z-index: -1;
}

.menu > ul > li:nth-child(2) > a {
  background-color: rgba(0, 0, 0, 0.267);
}

header {
  width: 100%;
  height: 68vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
header h1 {
  z-index: 1111;
}
header p {
  text-align: justify;
  padding: 15px;
  width: 15cm;
  z-index: 1111;
}

main .ourteam {
  margin-top: -75px;
}
main .ourteam h2 {
  font-size: 35px;
  text-align: center;
  color: rgb(255, 255, 255);
}
main .ourteam .card {
  width: 100%;
  margin-top: 56px;
  padding-bottom: 56px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
main .ourteam .card .card-about {
  background-color: rgba(180, 171, 171, 0.137);
  width: 70%;
  box-shadow: 0px 2px 15px 0px rgb(152, 146, 146);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  border: 2px solid rgb(178, 178, 178);
  transition: 0.4s;
}
main .ourteam .card .card-about img {
  width: 200px;
}
main .ourteam .card .card-about .text {
  text-align: center;
  font-size: 15px;
  color: white;
}
main .ourteam .card .card-about .text h3 {
  gap: 80px;
}
main .ourteam .card .card-about .text p {
  text-align: justify;
}
main .ourteam .card .card-about:hover {
  font-variation-settings: "wght" 20;
  box-shadow: 0px 8px 15px 0px rgba(186, 154, 154, 0.161);
  transform: scale(1.05, 1.05);
  opacity: 9;
}
main .new {
  width: 100%;
}
main .new p {
  width: 15cm;
  text-align: center;
  margin: auto;
  color: white;
}
main .new .icone {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .new .icone .icone1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}
main .new .icone .icone1 img {
  width: 200px;
  border: 2px solid black;
  border-radius: 10px;
}
main .new .icone .icone1 h3 {
  padding: 15px;
  margin: auto;
  color: white;
}
main .follow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
main .follow .follow-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  color: white;
}
main .follow .follow-1 h2 {
  font-size: 40px;
}
main .experience {
  width: 100%;
  color: white;
}
main .experience .experience,
main .experience h1 {
  padding: 20px;
  text-align: center;
}
main .experience .card-experience {
  display: grid;
  margin-left: 49px;
  padding-bottom: 70px;
  grid-template-columns: repeat(2, 1fr);
}
main .experience .card-experience p {
  padding: 40px;
  text-align: justify;
  padding-right: 90px;
}
main .experience .card-experience img {
  transition: 0.4s;
  width: 60%;
}
main .experience .card-experience img:hover {
  font-variation-settings: "wght" 20;
  box-shadow: 0px 8px 15px 0px rgba(4, 2, 2, 0.161);
  transform: scale(1.05, 1.05);
  opacity: 9;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
footer li {
  margin-top: 6px;
  list-style: none;
}
footer p {
  margin-top: 6px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  border-bottom: 2px solid orange;
}
footer .about-company {
  margin-bottom: 20px;
  width: 40%;
}
footer .about-company p {
  margin: 5px;
}
footer .center-ft {
  width: 25%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
footer .center-ft .list-of-music {
  margin-bottom: 20px;
}
footer .center-ft .follow-us {
  margin-bottom: 20px;
}
footer .center-ft .follow-us ul {
  gap: 10px;
  display: flex;
}
footer .center-ft .follow-us ul .icon-media {
  width: 30px;
}
footer .center-ft .our-contact {
  margin-bottom: 20px;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .container header {
    height: 48vh;
  }
  .container main .ourteam .card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .container main .ourteam .card .card-about {
    gap: 25px;
    display: flex;
    flex-direction: row;
  }
  .container main .ourteam .card .card-about .text {
    display: flex;
    flex-direction: column;
  }
  .container main .ourteam .card .card-about:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
  }
  .container main .new {
    display: grid;
  }
  .container main .new .icone {
    display: grid;
    justify-content: center;
  }
  .container main .new .icone .icone1 {
    margin-top: -50px;
  }
  .container main .new .icone .icone1 img {
    width: 300px;
    height: 200px;
  }
  .container main .follow .follow-1 h2 {
    font-size: 30px;
  }
  .container main .card-experience {
    height: 69vh;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }
  .container main .card-experience img {
    align-self: center;
  }
  .container main .card-experience p {
    text-align: justify;
    width: 85%;
    margin-left: -10px;
    padding-bottom: 5px;
  }
}
@media (max-width: 599px) {
  .container header {
    height: 47vh;
  }
  .container header p {
    margin: 20px;
    width: 90%;
  }
  .container main .ourteam {
    margin-top: -20px;
  }
  .container main .ourteam .card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .container main .ourteam .card .card-about {
    gap: 25px;
    display: flex;
    flex-direction: column;
  }
  .container main .ourteam .card .card-about .text {
    display: flex;
    flex-direction: column;
  }
  .container main .new {
    display: grid;
  }
  .container main .new .icone {
    display: grid;
    justify-content: center;
    margin-left: -60px;
  }
  .container main .new .icone .icone1 {
    margin-top: -50px;
  }
  .container main .new .icone .icone1 img {
    width: 300px;
    height: 200px;
  }
  .container main .new p {
    text-align: justify;
    width: 92%;
    margin: 0px 30px 0px 20px;
  }
  .container main .follow .follow-1 {
    margin: -20px;
  }
  .container main .follow .follow-1 h2 {
    font-size: 18px;
  }
  .container main .card-experience {
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .container main .card-experience img {
    margin: auto;
    margin-left: 60px;
  }
  .container main .card-experience p {
    text-align: justify;
    width: 85%;
    margin-left: -50px;
  }
}
@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
  footer h3 {
    color: rgb(240, 227, 227);
    font-size: 15px;
  }
  footer p, footer a {
    color: rgb(183, 181, 181);
    font-size: 12px;
  }
  footer .about-company {
    width: 100%;
    margin-bottom: 20px;
  }
  footer .center-ft {
    width: 100%;
  }
  footer .center-ft .list-of-music {
    margin-bottom: 20px;
  }
  footer .center-ft .follow-us {
    margin-bottom: 20px;
  }
  footer .our-contact {
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: center;
    border-top: 1px solid gray;
  }
}/*# sourceMappingURL=about.css.map */