@import url("https://fonts.googleapis.com/css2?family=New+Rocker&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  background-color: #793300;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 11111;
  box-shadow: 0px 2px 10px 0px rgb(39, 39, 39);
}

.logo {
  display: flex;
  align-items: center;
  width: 30%;
}
.logo img {
  width: 45px;
  margin: 0 10px;
  background: url(<path-to-image>), cover no-repeat;
  border-radius: 50px;
}
.logo h2 {
  color: white;
}

.menu {
  width: 600px;
  display: flex;
  justify-content: space-evenly;
}
.menu ul {
  list-style: none;
  display: flex;
}
.menu ul li {
  padding: 16px 0;
}
.menu ul li a {
  color: white;
  text-decoration: none;
  padding: 16px 20px;
}
.menu ul li a:hover {
  background-color: rgba(0, 0, 0, 0.267);
  background-size: auto;
  box-shadow: 0px 2px 10px 0px rgb(167, 167, 167);
}
.menu div {
  display: flex;
  align-items: center;
}
.menu div button {
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 7px;
  margin-right: 15px;
  cursor: pointer;
}
.menu div .login {
  background-color: #793300;
  color: white;
}
.menu div .login:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}
.menu div .register:hover {
  background-color: #793300;
  color: white;
}

main header {
  background-image: url(/image/355432223_257742393538800_3014726784789890214_n\ \(1\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  box-shadow: 0px 2px 10px 0px rgb(39, 39, 39);
}
main header h1 {
  background-color: rgba(0, 0, 0, 0.473);
  color: white;
  font-family: "New Rocker", cursive;
  font-size: 70px;
  padding: 20px;
  border-radius: 15px;
}
main .discription {
  width: 600px;
  background-color: #793300;
  margin: auto;
  margin-top: -50px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 2px 10px 0px rgb(39, 39, 39);
}
main .discription p {
  color: white;
  text-align: center;
}
main .type-music {
  margin: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}
main .type-music h2 {
  font-size: 35px;
}
main .type-music .group-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  margin-top: 20px;
}
main .type-music .group-card a {
  text-decoration: none;
}
main .type-music .group-card .card-music {
  width: 90%;
  height: 70vh;
  background-color: #793300;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgb(39, 39, 39);
}
main .type-music .group-card .card-music img {
  width: 100%;
  height: 85%;
  border-radius: 10px 10px 0 0;
}
main .type-music .group-card .card-music p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
main .type-music .group-card .card-music:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
  box-shadow: 0px 8px 15px 0px rgb(0, 0, 0);
  transform: scale(1.07, 1.07);
}
main .event {
  margin: 0 40px;
}
main .event h2 {
  font-size: 35px;
}
main .event .group-event {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main .event .group-event img {
  box-shadow: -15px -15px #793300;
}
main .event .group-event .schedule {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
}
main .event .group-event .schedule .time-event {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .event .group-event .schedule .time-event p {
  font-size: 25px;
  font-weight: bold;
}
main .event .group-event .schedule .time-event .date {
  background-color: #E36414;
  padding: 20px;
  border-radius: 15px;
}
main .event .group-event .schedule .time-event .date1 {
  background-color: #F77F00;
}
main .event .group-event .schedule .time-event .date2 {
  background-color: #D62828;
}
main .event .group-event .schedule .time-event .date3 {
  background-color: #9E0059;
}
main .event .group-event .schedule .time-event .place {
  width: 50%;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px 0;
}
main .event .group-event .schedule .time-event .place button {
  background-color: #44355B;
  color: white;
  padding: 5px 15px;
  border-radius: 30px;
}
main .event .group-event .schedule .time-event .place button:hover {
  box-shadow: 0px 8px 15px 0px rgb(0, 0, 0);
  transform: scale(1.05, 1.05);
}

footer {
  width: 100%;
  background-color: #793300;
  margin-top: 70px;
  color: white;
  display: flex;
}
footer .in-footer {
  width: 23.33%;
  padding: 20px;
}
footer .in-footer ul {
  list-style: none;
}
footer .in-footer ul li a {
  color: white;
}
footer .in-footer ul li a:hover {
  color: rgb(87, 87, 255);
}
footer .in-footer:nth-child(1) {
  width: 30%;
}
footer .in-footer:nth-child(1) .logo-in-footer {
  margin-bottom: 10px;
}
footer .in-footer:nth-child(1) .logo-in-footer img {
  width: 50px;
  border-radius: 50px;
  margin-right: 10px;
}
footer .in-footer:nth-child(1) p {
  margin-left: 15px;
}
footer .in-footer:nth-child(2) {
  padding: 30px;
}
footer .in-footer:nth-child(2) h3 {
  margin-bottom: 10px;
}
footer .in-footer:nth-child(3) {
  padding: 30px;
}
footer .in-footer:nth-child(3) h3 {
  margin-bottom: 10px;
}
footer .in-footer:nth-child(3) ul li {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
footer .in-footer:nth-child(3) ul li img {
  border-radius: 80px;
}
footer .in-footer:nth-child(3) ul li a {
  margin-left: 10px;
}
footer .in-footer:nth-child(4) {
  padding: 30px;
}
footer .in-footer:nth-child(4) h3 {
  margin-bottom: 10px;
}
footer .in-footer:nth-child(4) ul li {
  display: flex;
  align-items: center;
}
footer .in-footer:nth-child(4) ul li img {
  margin-right: 20px;
}

@media (max-width: 768px) {
  footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 15px;
  }
  footer .in-footer {
    width: 100%;
    text-align: center;
  }
  footer .in-footer .logo-in-footer {
    width: 100%;
  }
  footer .in-footer ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  footer .in-footer:nth-child(1) {
    width: 100%;
  }
  footer .in-footer:nth-child(3) {
    width: 30%;
  }
}
@media (min-width: 720px) and (max-width: 1024px) {
  main .type-music .group-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  main .event .group-event {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  main .event .group-event img {
    width: 98%;
    margin-bottom: 20px;
  }
  main .event .group-event .schedule .time-event {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=main.css.map */