* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
}

@import "component/navbar";
@import "component/mixin";

body {

    margin: 0;
    padding: 0;
    overflow-x:hidden ;
}
.fixed-bg{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/image/change.jpg);
        background-position: center;
        background-size: cover;
        z-index: -1;
}
.container{
        background: linear-gradient(to top right, rgba(20, 20, 20, 0.814), rgba(21, 21, 21, 0.75));
        width: 100%;
        height: 300vh;
        position: absolute;
        z-index: -1;

}
.menu>ul>li:nth-child(2)>a {
    background-color: rgba(0, 0, 0, 0.267);
}

header {
    width: 100%;
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    h1{
        z-index: 1111;
    }
    p {
        padding: 15px;
        width: 15cm;
        z-index: 1111;
    }


}
main {
    .ourteam{
      
        h2 {
            font-size: 35px;
            text-align: center;
            color: rgb(255, 255, 255);
            
        }
    
        .card {
            width: 100%;
            margin-top: 56px;
            padding-bottom: 56px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .card-about {
                background-color: rgba(180, 171, 171, 0.137);
                width: 70%;
                box-shadow: 0px 2px 15px 0px rgb(152, 146, 146);
                @include center;
                flex-direction: column;
                margin: auto;
                padding: 20px;
                border: 2px solid rgb(178, 178, 178);
                transition: 0.4s;
    
                img {
                    width: 200px;
                }
    
                .text {
                    text-align: center;
                    font-size: 15px;
                    color: white;
    
                    h3 {
                        gap: 80px;
                    }
    
                    p {
                        text-align: left;
                    }
                }
            }
            .card-about:hover {
                font-variation-settings: "wght" 20;
                box-shadow: 0px 8px 15px 0px rgba(186, 154, 154, 0.161);
                transform: scale(1.05, 1.05);
                opacity: 9
            }
        }
    }
    .new {
        width: 100%;
        height: 60vh;

        p {
            width: 15cm;
            text-align: center;
            margin: auto;
            color: white;
        }

        .icone {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .icone1 {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 50px;

                img {
                    width: 200px;
                    border: 2px solid black;
                    border-radius: 10px;
                }

                h3 {
                    padding: 15px;
                    margin: auto;
                    color: white;
                }


            }
        }

    }
    .follow{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .follow-1 {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 50px;
            color: white;
            h2{
                font-size: 40px;
            }

    }}
    .experience {
        width: 100%;
        color: white;
    
        .experience,
        h1 {
            padding: 20px;
            text-align: center;
        }
    
        .card-experience {
            display: grid;
            margin-left: 49px;
            padding-bottom: 70px;
            grid-template-columns: repeat(2, 1fr);
    
            p {
                padding: 60px;
                text-align: left;
                padding-right: 90px;
            }
            img {
                transition: 0.4s;
                width: 60%;
            }
    
            img:hover {
                font-variation-settings: "wght" 20;
                box-shadow: 0px 8px 15px 0px rgba(4, 2, 2, 0.161);
                transform: scale(1.05, 1.05);
                opacity: 9;
            }
        }
    }
    

}


@import "component/footer";
@import "mixin/responsive-about";
@import "mixin/responsive-footer";