* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
}

@import "component/navbar";
@import "component/mixin";
body{
 background-image: url(/image/bgc-about.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}
.menu>ul>li:nth-child(2)>a{
    background-color: rgba(0, 0, 0, 0.267);
}
header{
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

    p {
        padding: 15px;
        width: 15cm;
        background-color: rgba(76, 107, 107, 0.424);
    }


}

main {
    h2 {
        font-size: 35px;
        margin-top: 70px;
        text-align: center;
    }

    .card {
        width: 100%;
        margin-top: 56px;
        padding-bottom: 56px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .card-about {
            background-color: rgba(128, 128, 128, 0.396);
            width: 70%;
            box-shadow: 0px 2px 15px 0px rgb(102, 103, 95);
            @include center;
            flex-direction: column;
            margin: auto;
            padding: 20px;
            border: 2px solid rgb(178, 178, 178);
            transition: 0.4s;

            img {
                width: 200px;
            }

            .text {
                text-align: center;
                font-size: 15px;

                h3 {
                    gap: 80px;
                }

                p {
                    text-align: left;
                }
            }
        }
        .card-about:hover {
            font-variation-settings: "wght" 20;
            box-shadow: 0px 8px 15px 0px rgba(186, 154, 154, 0.161);
            transform: scale(1.05, 1.05);
            opacity: 9
        }

    }

    .new {
        width: 100%;
        height: 60vh;
        background-color: rgb(172, 162, 162);
        p {
            width: 15cm;
            text-align: center;
            margin: auto;
        }

        .icone {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .icone1 {
                display: grid;
                justify-content: center;
                padding: 50px;

                img {
                    width: 200px;
                    border: 2px solid black;
                    border-radius: 10px;
                }

                h3 {
                    padding: 15px;
                    margin: auto;
                }


            }
        }

    }


}

.experience {
    width: 100%;
    transition: 0.4s;

    .experience,
    h2 {
        padding: 20px;
    }

    .card-experience {
        display: grid;
        margin-left: 49px;
        padding-bottom: 70px;
        grid-template-columns: repeat(2, 1fr);

        p {
            padding: 60px;
            text-align: left;
            padding-right: 90px;
        }

        img {
            width: 60%;
        }

        img:hover {
            font-variation-settings: "wght" 20;
            box-shadow: 0px 8px 15px 0px rgba(4, 2, 2, 0.161);
            transform: scale(1.05, 1.05);
             opacity: 9;
        }
    }

}


@import "component/footer";
@import "mixin/responsive-about";
@import "mixin/responsive-footer";