* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
}

@import "component/variable";
@import "component/navbar";
.menu>ul>li:nth-child(3)>a{
    background-color: rgba(0, 0, 0, 0.267);
}
.cantact-ccontainer {
    background-image: url(/image/bg_contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 4%;
    padding: 2%;
    display: flex;
    justify-content: flex-end;

    form {
        width: 500px;
        background:#411b0083;
        padding: 3%;
        border-radius: 3%;

        .send-sms {
            color: white;
            text-align: center;
        }

        input {
            width: 93%;
            height: 20px;
            padding: 3%;
        }
        #username,
        #email,
        #message,
        #send {
            border: none;
            border-radius: 7px;
            margin-top: 5%;
        }

        textarea {
            width: 93%;
            padding: 3%;
        }

        .container-send {
            display: flex;
            justify-content: flex-end;
            
            #send {
                width: 30%;
                height: 40px;
                background: #ff6d00;
                color: white;
                border: none;
                border-radius: 50px;
            }
            #send:hover {
                background: #0d1321;
                border: 1px solid orange;
            }
            
        }
    }
}

@import "component/footer";
@import "mixin/responsive-contact";