* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
}

@import "component/variable";
@import "component/navbar";
.menu>ul>li:nth-child(3)>a{
    background-color: rgba(0, 0, 0, 0.267);
}
.cantact-container {
    background-image: url(/image/bgn-cnt.avif);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center ;
    margin-top: 3%;
    padding: 2%;
    display: flex;
    .contact-box{
        padding: 2%;
        display: flex;

        .img-txt{
            width: 400px;
            background:white;
            background:#01162786;
            background:#011627;
            padding: 3%;
            border-radius: 3% 0% 0% 3%;
            img{
                margin-left: 20%;
                border-radius: 150px;
            }
            p{
            }
        }
        form {
            width: 400px;
            background:#411b0083;
            background: ghostwhite;
            border: 2px solid orange;
            padding: 3%;
            
            border-radius: 0% 3% 3% 0%;
            .send-sms {
                color: black;
                text-align: center;
            }
    
            input {
                width: 93%;
                height: 20px;
                padding: 3%;
            }
            #username,
            #email,
            #message,
            #send {
                border: 1px solid rgba(128, 128, 128, 0.367);
                border-radius: 7px;
                margin-top: 5%;
            }
    
            textarea {
                width: 93%;
                padding: 3%;
            }
    
            .container-send {
                display: flex;
                justify-content: flex-end;
                
                #send {
                    width: 30%;
                    height: 40px;
                    background: #0d1321;
                    color: white;
                    border: none;
                    border-radius: 50px;
                }
                #send:hover {
                    background: #4f000b;
                    border: 1px solid orange;
                }
                
            }
        }
    }
   
}

@import "component/footer";
@import "mixin/responsive-contact";
@import "mixin/responsive-footer";
