@import "variable";
@import "mixin";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #333;
    color: $white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    li {
        margin-top: 6px;
        list-style: none;
    }

    p {
        margin-top: 6px;
    }

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        border-bottom: 2px solid orange;
    }

    .about-company {
        margin-bottom: 20px;
        width: 40%;

        p {
            margin: 5px;
        }
    }

    .center-ft {
        width: 25%;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .list-of-music {
            margin-bottom: 20px;
        }

        .follow-us {
            margin-bottom: 20px;

            ul {
                gap: 10px;
                display: flex;
                .icon-media {
                    width: 30px;
                }
            }
        }

        .our-contact {
            margin-bottom: 20px;
        }
    }
}