@import "variable";
@import "mixin";
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


footer {
	background-color: #333;
	color: $white;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	gap: 5%;
	.about-company {
		margin-bottom: 20px;
		width: 40%;
		p {
			margin: 0;
			padding: 0;
		}
	}
    .center-ft {
        width: 25%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        .list-of-music {
            margin-bottom: 20px;
            ul {
                li {
                    margin: 0;
                    padding: 0;
                }
                list-style: none;
                padding: 0;
            }
        }
        .follow-us {
            margin-bottom: 20px;
            ul {
                li {
                    margin: 0;
                    padding: 0;
                }
                list-style: none;
                padding: 0;
            }
        }
    }

	.our-contact {
		margin-bottom: 20px;
		p {
			margin: 0;
			padding: 0;
			margin-top: 5px;
		}
	}
}

