@import "_variable";
nav{
    background-color: $brown;
    width: 100%;
    height: 49px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 11111;
    box-shadow: 0px 2px 10px 0px rgb(39, 39, 39);
}

.logo{
    display: flex;
    align-items: center;
    width: 30%;
    img{
        width: 45px;
        margin: 0 10px;
        background: url(<path-to-image>), cover no-repeat;
        border-radius: 50px;
    }
    h2{
        color: $white;
    }
}

.menu{
    width: 400px;
    display: flex;
    ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-evenly;

        li{
            padding: 16px 0;
            a{
                color: $white;
                text-decoration: none;
                padding: 16px 20px;
                transition: 0.5s;
            }
            a:hover{
                background-color: rgba(0, 0, 0, 0.267);
                background-size: auto;
                opacity: 1
            }
        }
    }
} 
@media (max-width: 768px){
    .logo{
        img{
            width: 30px;
        }
        h2{
            font-size: 15px;
        }
    }
    .menu{
        ul{
            display: flex;
            justify-content: flex-end;
            li{
                a{
                    font-size: 12px;
                    padding: 16px 10px;
                }
            }
        }
    }
}