@import "_variable";
nav{
    background-color: $brown;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 11111;
    box-shadow: 0px 2px 10px 0px rgb(39, 39, 39);
}

.logo{
    display: flex;
    align-items: center;
    width: 30%;
    img{
        width: 45px;
        margin: 0 10px;
        background: url(<path-to-image>), cover no-repeat;
        border-radius: 50px;
    }
    h2{
        color: $white;
    }
}

.menu{
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    ul{
        list-style: none;
        display: flex;

        li{
            padding: 16px 0;
            a{
                color: $white;
                text-decoration: none;
                padding: 16px 20px;
            }
            a:hover{
                background-color: rgba(0, 0, 0, 0.267);
                background-size: auto;
                box-shadow: 0px 2px 10px 0px rgb(167, 167, 167);
            }
        }
    }
    div{
        display: flex;
        align-items: center;
        button{
            padding: 10px 20px;
            border: 2px solid white;
            border-radius: 7px;
            margin-right: 15px;
            cursor: pointer;
        }
        .login{
            background-color: $brown;
            color: $white;
        }
        .login:hover{
            background-color: $white;
            color: $black;
        }
        .register:hover{
            background-color: $brown;
            color: $white;
        }
    }
}
@media (max-width: 768px){
    .logo{
        img{
            width: 30px;
        }
        h2{
            font-size: 15px;
        }
    }
    .menu{
        ul{
            li{
                a{
                    font-size: 12px;
                    padding: 16px 10px;
                }
            }
        }
    }
}