@import "_variable";
nav{
    background-color: rgb(133, 85, 21);
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 11111;
    box-shadow: 0px 2px 10px 0px rgb(179, 179, 179);
}

.logo{
    display: flex;
    align-items: center;
    width: 40%;
    img{
        width: 50px;
        margin: 0 10px;
        background: url(<path-to-image>), cover no-repeat;
    }
    h2{
        color: $white;
    }
}

.menu{
    width: 600px;
    ul{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        li{
            padding: 16px 0;
            a{
                color: $white;
                text-decoration: none;
                padding: 16px 20px;
            }
            a:hover{
                background-color: rgba(0, 0, 0, 0.267);
                background-size: auto;
                box-shadow: 0px 2px 10px 0px rgb(167, 167, 167);
            }
        }
    }
}

