@media screen and (max-width: 768px) {
	footer {
		flex-direction: column;
        h3{
            color: rgb(240, 227, 227);
            font-size: 15px;
        }
        p,a{
            color: rgb(183, 181, 181);
            font-size: 12px;
        }
		.about-company {
            width: 100%;
			margin-bottom: 20px;
		}
        .center-ft {
            width: 100%;
            .list-of-music {
                margin-bottom: 20px;
            }
            .follow-us {
                margin-bottom: 20px;
            }
           
        }
        .our-contact {
            margin-bottom: 20px;
            margin-top: 5px;
            text-align: center;
            border-top: 1px solid gray;
        }
		
	}	
}