@media (min-width: 600px) and (max-width: 1024px) {
    main {
        .card {
          display: flex;
          flex-direction: row;
        }

        .card-experience {
            gap: 35px;

            p {
                text-align: left;
            }

     
        }
   
   
   
    }
}

@media (max-width:599px) {
    main {
        .card {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
        }

        .experience {
            h2 {
                text-align: center;
            }

            .card-experience {
                display: flex;
                flex-wrap: wrap;

                img{
                   border: 2px solid rgb(220, 143, 0);
                }
                img,
                p {
                    margin: auto;
                }
            }
        }
    }


}