@media screen and (max-width:767px) {
  .contact-container{
      flex-direction: column;
      padding: none;
      .img-txt{
          width: auto;
          display: none;
      }
      form{
          width: auto;
          border: 1px solid orange;
          border-radius: 3%;
          h2{
              margin-top: 20px;
          }
      }
  }
}